git+https://github.com/berleon/keras.git@losses#egg=Keras
git+https://github.com/BioroboticsLab/diktya.git@c21788bc0fd51f16f920d1ee0f3ae6c88b183ad1#egg=diktya
git+https://github.com/BioroboticsLab/bb_binary.git@f12f9276987b4f60e9cb556d5db8ed035bec5991#egg=bb-binary
git+https://github.com/BioroboticsLab/bb_pipeline.git@6f26571bba6f8efc74e3659de4e5d6aa065f7975#egg=bb-pipeline
git+https://github.com/berleon/cfg.git@9484201fe0f80cb39fd26d7193477e400776d785#egg=cfg
bitarray==0.8.1
cairocffi==0.7.2
certifi==2017.7.27.1
cffi==1.5.2
chardet==3.0.4
click==6.7
coverage==4.4.1
coveralls==1.2.0
docopt==0.6.2
docutils==0.12
dotmap==1.2.19
entrypoints==0.2.3
execnet==1.4.1
flake8==3.4.1
h5py==2.7.1
html5lib==0.999999999
idna==2.6
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
iso8601==0.1.12
jedi==0.10.2
Jinja2==2.8
joblib==0.9.4
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
lxml==4.9.1
MarkupSafe==0.23
matplotlib==2.0.2
mccabe==0.6.1
mistune==0.7.4
more-itertools==2.2
nbconvert==5.2.1
nbformat==4.4.0
networkx==1.11
nose==1.3.7
notebook==5.0.0
numexpr==2.4.3
numpy==1.13.1
olefile==0.44
pandas==0.20.3
pandocfilters==1.4.2
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
ply==3.7
progressbar2==3.34.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
py-cpuinfo==3.3.0
pycapnp==0.6.1
pycodestyle==2.3.1
pycparser==2.14
pyflakes==1.5.0
Pygments==2.1
pyparsing==2.2.0
pytest==3.2.1
pytest-benchmark==3.1.1
pytest-cov==2.5.1
pytest-flake8==0.8.1
pytest-forked==0.2
pytest-xdist==1.20.0
python-dateutil==2.6.1
python-utils==2.2.0
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.18.4
roman==2.0.0
scikit-image==0.13.0
scikit-learn==0.17
scipy==0.19.1
seaborn==0.6.0
shyaml==0.5.0
simplegeneric==0.8.1
simplejson==3.8.1
six==1.10.0
tables==3.2.2
terminado==0.6
testpath==0.3.1
Theano==0.9.0
tornado==4.5.2
tqdm==4.15.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.2
xcffib==0.3.6
xgboost==0.6a2
